<head>
  <meta charset="utf-8">
  {{#if service.googlefonts}}
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ {{#each service.googlefonts}}{{this}}{{#unless @last}}, {{/unless}}{{/each}} ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
  {{/if}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="news_keywords" content="{{keywords}}" />
  <meta name="standout" content="{{domain}}/{{url}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#if service.facebookid}}<meta property="fb:app_id" content="{{service.facebookid}}" />{{/if}}
  <meta property="og:site_name" content="{{site}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:title" content="{{title}} - {{site}}" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:type" content="article" />
  {{#if service.socialimage}}<meta property="og:image" content="{{service.socialimage}}" />{{/if}}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{site}}" />
  <meta name="twitter:title" content="{{title}} - {{site}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:creator" content="{{site}}" />
  <meta name="twitter:domain" content="{{domain}}" />
  {{#if service.socialimage}}<meta name="twitter:image:src" content="{{service.socialimage}}" />{{/if}}

  {{#if service.appleid}}<meta name="apple-itunes-app" content="app-id={{service.appleid}}, app-argument={{url}}" />{{/if}}
  {{#if service.googleverification}}<meta name="google-site-verification" content="{{service.googleverification}}" />{{/if}}

  <title>{{title}}</title>

  <link rel="author" href="humans.txt" />

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Web Starter Kit">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->
  <link rel="stylesheet" href="styles/main.css">
  {{#if service.googlefonts}}
  <noscript>
    <!-- [*] Web fonts for no-js -->
    <link href='http://fonts.googleapis.com/css?family={{#each service.googlefonts}}{{this}}{{#unless @last}}|{{/unless}}{{/each}}' rel='stylesheet' type='text/css'>
  </noscript>
  {{/if}}
</head>
